<div class="d-flex text-center justify-content-between">
	<div class="d-flex justify-content-center w-100">
		@Card.Mark
		@Card.Number
	</div>
</div>

@code {
	[Parameter]
	public TrumpModel.Trump Card { get; set; }
}
